<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <%= link_to root_path, class: "navbar-brand" do %>
        Contact Importer
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <%= link_to 'Home', root_path, class: "nav-link"  %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Contacts', contacts_path, class: "nav-link" %>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Files</a>
                    <div class="dropdown-menu">
                        <%= link_to 'All files', contact_files_path, class: "dropdown-item" %>
                        <%= link_to 'On Hold', contact_files_path(:status => 'On Hold'), class: "dropdown-item" %>
                        <%= link_to 'Terminated', contact_files_path(:status => 'Terminated'), class: "dropdown-item" %>
                        <%= link_to 'Processing', contact_files_path(:status => 'Processing'), class: "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                        <%= link_to 'Failed', contact_files_path(:status => 'Failed'), class: "dropdown-item" %>
                    </div>
                </li>
            </ul>

            <% if current_user %>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-user"></i>
                        <%= current_user
                            .email %>
                    </a>
                </li>
                <li class="nav-item">
                    <%= link_to 'Logout', logged_out_path, method: :delete, class: 'nav-link text-danger' %>
                </li>
            </ul>
            <% else %>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <%= link_to 'Register', register_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Login', login_path, class: 'nav-link' %>
                </li>
            </ul>
            <% end %>
        </div>
    </div>
</nav>